{% extends "stations/base.html" %}
{% load static %}
{% block content %}
    <div class="station-detail">
        <img class="station_img" src="{% if station.image %}{{ station.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ station.name }}</h1>
        <p class="frequency">{{ station.frequency }}</p>
        {% if tracks|length > 0 %}
            <h3>Now playing:</h3>
            {% for track in tracks %}
            {% if forloop.counter == 2 %}
                <h3>Queued to play:</h3>
            {% endif %}
                <div class="track">
                    <img class="track_image" src="{% if track.image %}{{ track.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    <div class="track_descriptions">
                        <span class="track_name">Track: {{ track.name }}</span>
                        <span class="track_album">Album: {{ track.album }}</span>
                        <span class="track_singer">Singer: {{ track.singer }}</span>
                        <span class="track_ganre">Ganre: {{ track.ganre }}</span>
                        <span class="track_duration">{{ track.duration }}</span>
                    </div>
                </div>

            {% endfor %}
        {% endif %}
        <h3>Order the track you like</h3>
        <a href="{% url "orders:order_create" %}">Get the track</a>
    </div>
{% endblock %}